<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<RollingFile name="fileLogger" fileName="logs/padl.log"
			filePattern="logs/padl-%d{yyyy-MM-dd}.log">
			>
			<PatternLayout
				pattern="%d{yyyy-MMM-dd HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy interval="1"
					modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="3">
				<Delete basePath="logs" maxDepth="3">
					<IfLastModified age="3d" />
				</Delete>
			</DefaultRolloverStrategy>

		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="error">
			<AppenderRef ref="fileLogger" />
		</Root>
		<Logger name="org.alefzero" level="TRACE" additivity="false">
			<AppenderRef ref="fileLogger" />
		</Logger>
	</Loggers>
</Configuration>